@model PrescriptionViewModel

@{
    ViewData["Title"] = "Prescription Page";
}
<form asp-controller="Prescription" asp-action="Add">
    Name: <input type="text" name="Name" /> <br/>
    CreatedDate: <input type="date" name="CreatedDate" /> <br/>
    <button type="submit" class="btn btn-success">Add</button>
</form>

